li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

label {
    font-size: x-small;
}

.grow { 
    transition: all .2s ease-in-out; 
    }

.grow:hover { 
    transform: scale(1.03); 
}