<div class="p-3 rounded">
    <div class="row">
        <h1>Para todas tus formas de trabajo, estamos aquí</h1>
    </div>
    <div class="row">
        <p>
            Encuentra una ubicación cerca de ti. Explora las membresías y las oficinas listas para mudarse para particulares o empresas de todos los tamaños. 
        </p>
    </div>
    <div class="row">
        <label>Encuentra espacio de trabajo en</label>
        <select class="form-select mt-3 mb-3">
            <option selected>Bogotá</option>
            <option>Buenos Aires</option>
            <option>Paris</option>
        </select>
    </div>
    <div class="row">
        <button class ="btn btn-primary">
            Comenzar
        </button>
    </div>
</div>